{% extends 'layout.html' %}

{% block body %}
<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6" id="track-area"></div>
                <div class="col-6"><img src="{{imgpath}}" class="img-fluid"></div>
            </div>
            
            <button class="btn btn-primary" id="toggle">Start Masking</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="/trackobject" class="btn btn-danger btn-block mt-5">Start Tracking -></a>
        </div>
    </div>

    <!-- <input type="number" class="range-in" name = "v1_min" value = "0">
    <input type="number" class="range-in" name = "v2_min" value = "0">
    <input type="number" class="range-in" name = "v3_min" value = "0">
    <input type="number" class="range-in" name = "v1_max" value = "0">
    <input type="number" class="range-in" name = "v2_max" value = "0">
    <input type="number" class="range-in" name = "v3_max" value = "0">
    <button id="hj">Set</button> -->
</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(() => {
        $('#toggle').click(() => {
            $('#track-area').append(`<img src="{{ url_for('getThreshImage') }}" class="img-fluid">`)
        })

        $('.range-in').change(() => {
            const v1_min = $('input[name = "v1_min"]').val()
            const v2_min = $('input[name = "v2_min"]').val()
            const v3_min = $('input[name = "v3_min"]').val()
            const v1_max = $('input[name = "v1_max"]').val()
            const v2_max = $('input[name = "v2_max"]').val()
            const v3_max = $('input[name = "v3_max"]').val()
            console.log('dsdsdsd')
            $.get('/input', { v1_min : v1_min, v2_min : v2_min, v3_min : v3_min, v1_max : v1_max, v2_max : v2_max, v3_max : v3_max }, (data) => {

                console.log(data);
            })
        })

        $('#hj').click(() => {
            $.get('/setval');
        })

        $('#upload-file').change(() => {
        var form_data = new FormData();
        form_data.append('files', $('#upload-file')[0])
        $.ajax({
            type: 'POST',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
            },
        });
    });
    })
</script>

{% endblock %}
