{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid mt-5">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Masking for Tracking Objects</h1>
            <p class="lead">Upload an image to start masking</p>
            <hr class="my-2">
            <form method="POST" enctype="multipart/form-data">
                <label>Upload File for Masking</label>
                <input type="file" name="file" class="btn">
                <button class="btn btn-primary">Upload</button>
            </form>
        </div>
        <p class="h1 text-center mt-5 mb-5">
            OR
        </p>
        <div class="container text-dark">
            <a href="/showmasks" class="h3">Choose from Existing Masks</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}


{% endblock %}
